$primary: #000;
$secondary: antiquewhite;
$tertiary: #ff00a2;
$quatenary: rgb(83, 92, 223);

$body-bg: antiquewhite;
$pri-font: 'Abril Fatface', serif;
$sec-font: 'Poppins', sans-serif;
.karteS {
  color: $primary;
  transition: border-color box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 0.7rem rgba($primary, 0.8);
    border: none;
  }

  .karteS-title {
    color: $primary;
    font-family: $pri-font;
    font-size: 1.2rem;
  }

  .karteS-text {
    color: rgba($primary, 0.8);
    font-family: $sec-font;
    font-size: 0.7rem;
  }
}
