$primary: #000;
$secondary: antiquewhite;
$tertiary: #ff00a2;
$quatenary: rgb(83, 92, 223);
$body-bg: antiquewhite;
$pri-font: 'Abril Fatface', serif;
$sec-font: 'Poppins', sans-serif;
@import '~bootstrap/scss/bootstrap.scss';

.card {
  border: none;
  box-shadow: 0 0 0.5rem rgba($primary, 0.5);
}

// MovieView
.karteL-wrapper {
  padding-left: 5px;
  margin-bottom: 30px;
  background-color: $primary;
}
.karteL-film {
  color: $secondary;
  font-family: $pri-font;
  font-size: 3rem;
}
.karteL-jahr {
  color: $secondary;
  font-family: $pri-font;
  font-size: 1.2rem;
}
.karteL-title {
  color: $primary;
  font-family: $pri-font;
  font-size: 2rem;
}
.karteL-text {
  font-family: $sec-font;
  color: $primary;
}

h6 {
  color: $primary;
  font-family: $pri-font;
  font-size: 1.5rem;
}

// LoginView & SignupView
.kAuth-title {
  color: $primary;
  font-family: $pri-font;
  font-size: 2rem;
}
.form-label {
  color: $primary;
  font-family: $sec-font;
}

// Buttons
.custom-button {
  font-family: $pri-font;
  color: $primary;
  border-color: $primary;
  border-width: 2px;

  &:hover {
    background-color: $primary;
    color: $secondary;
    border-color: $primary;
  }
}

.favorite-button {
  font-family: $pri-font;
  color: $secondary;
  border-color: $primary;
  border-width: 2px;

  &:hover {
    background-color: $tertiary;
    color: $secondary;
    border-color: $tertiary;
  }
}

.heart-button {
  font-family: $pri-font;
  color: $primary;
  border-color: $primary;
  border-width: 2px;

  &:hover {
    background-color: $tertiary;
    color: $secondary;
    border-color: $tertiary;
  }
}

.delete-movie-button {
  font-size: 1rem;
  font-family: $pri-font;
  background-color: $primary;
  color: $secondary;
  border-color: $primary;
  border-width: 2px;

  &:hover {
    background-color: $tertiary;
    color: $secondary;
    border-color: $tertiary;
  }
}
